body {
    margin: 0;
    font-family: "Papyrus", "Copperplate", fantasy;
    background-color: #eff2f1;
    color: #403e3e;
    min-height: 100vh;
    display:flex; flex-direction:column;
    
  }
header {
  display: flex;
  background-color: #309C4F;
  overflow: hidden;
  text-align: center;
  justify-content: space-between;
}

.navbar-links a, .header-logo {
  float: left;
  color: #eff2f1;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.navbar-links a:hover {
  background-color: #ddd;
  color: #309C4F;
}

.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex:1;
  max-width: 1500px;
  align-self: center;
}

.search {
  display: flex;
  align-items: center;
  height: 100px;
  flex-direction: column;
  margin-bottom: 50px
}

.lookup  {
    display: flex;
}

.search-box {
    border: none;
    padding: 5px 20px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 3px solid #309C4F;
    border-right: none;
}

.lookup-button {
  border: 3px solid #309C4F;
  border-left: none;
  background-color: #309C4F;
  border-radius: 0 5px 5px 0;
  padding: 5px 8px;
}

.lookup-button:hover {
  cursor: pointer
}
.fa-magnifying-glass {
  color:#eff2f1;
}

#books-container {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  row-gap: 20px;
  width: 100%;
}


.book-card {
  display: flex;
  border: 3px solid rgb(70,150,70); 
  border-radius: 8px;
  height: 300px;
  width: 30%;
  box-shadow: 0 8px 16px 0 rgba(125,0,125,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  flex-direction: column
}

.book-content {
  display: flex;
  width: 100%;
}

.book-thumbnail {
  width: 190px;
  height: 300px;
}
.thumbnail-container {
  width: auto;
}

.book-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 300px;
  padding: 20px;
}

.book-info > p {
  font-size: 0.8em;
}

.book-title {
  font-size: 1em;
  margin: 0;
}

.hidden {
  display: none
}

.know-more {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

.know-more:hover {
  opacity:1;
}


#loading-spinner {
  animation: spin 1s infinite linear;
  
  border: 5px #4CAF50 solid;
  border-radius: 100%;
  border-top: 5px #ddd solid;
  
  height: 20px;
  width: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

footer {
width: 100%;
background-color: #309C4F;
color: white;
padding: 10px 0;
margin-top: 50px;
text-align: center;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}


@media screen and (max-width:1300px) {
  .book-card{
    width:45%;
  }
}
@media screen and (max-width:900px) {
  .book-card{
    width:60%;
  }
}

@media screen and (max-width:600px) {
  .book-card{
    width:90%;
  }
}

